<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>

    <title>Yura Bot | Server</title>

    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/vendors/icofont.css">
    <link rel="stylesheet" type="text/css" href="/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="/css/vendors/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendors/feather-icon.css">

    <link rel="stylesheet" type="text/css" href="/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/vendors/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/css/page/profil.css">
    <link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  </head>
  <body>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <%- include('../partials/headbar'); %>
      <div class="page-body-wrapper">
       <%- include('../partials/nav'); %>
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3><%= guild.name %></h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">
                    <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item lang" key="dash">Dashboard</li>
                    <li class="breadcrumb-item active"><%= guild.name %></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Page Start-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">

                <div class="card">
                  <div class="card-header">
                    <h5 class="lang" key="autoroleTitle">🎖️ Configuration de l'autorole :</h5>
                  </div>
                  <form class="form theme-form" method="POST">
                    <div class="card-body">

                      <div class="form-group">
                          <label class="lang" key="autoroleRole">Choissisez votre role :</label>
                          <select class="form-control" name="roleID">
                              <% if(autoroleRole && guild.roles.find((r) => r.id === autoroleRole)){ %>
                                  <option selected="selected">@<%= guild.roles.find((r) => r.id === autoroleRole).name %></option>
                                  <% guild.roles.filter((r) => r.id !== autoroleRole && r.name !== "@everyone").forEach((r) => { %>
                                      <option>@<%= r.name %></option>
                                  <% }); } else { %>
                                  <option selected="selected">@<%= guild.roles.filter((r) => r.name !== "@everyone")[0].name %></option>
                                  <% guild.roles.filter((r) => r.id !== guild.roles.filter((r) => r.name !== "@everyone")[0].id && r.name !== "@everyone").forEach((r) => { %>
                                      <option>@<%= r.name %></option>
                                  <% }); %>
                              <% } %>
                          </select>
                      </div>

                    </div>

                    <div class="card-footer">
                      <% if(autoroleEnabled){ %>
                        <button type="submit" name="disable" class="btn btn-danger lang" key="desactivate">Désactiver</button>
                        <button type="submit" name="update" class="btn btn-primary pull-right lang" key="save">Sauvegarder</button>
                    <% } else { %>
                        <button type="submit" name="enable" class="btn btn-success lang" key="activate">Activer</button>
                    <% } %>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
          <!-- Page End-->
        </div>
        <%- include('../partials/footer'); %>
      </div>
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="/js/icons/feather-icon/feather.min.js"></script>
    <script src="/js/icons/feather-icon/feather-icon.js"></script>

    <script src="/js/scrollbar/simplebar.js"></script>
    <script src="/js/scrollbar/custom.js"></script>

    <script src="/js/config.js"></script>
    <script src="/js/height-equal.js"></script>
    <script src="/js/sidebar-menu.js"></script>
    <script src="/js/tooltip-init.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/theme-customizer/customizer.js"></script>

  </body>
</html>