<div class="sidebar-wrapper">
  <div>
    <div class="logo-wrapper"><a href="/"><img class="img-fluid for-light" src="/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="/images/logo/logo_dark.png" alt=""></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src="/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn"><a href="/"><img class="img-fluid" src="/images/logo/logo-icon.png" alt=""></a>
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6 class="lang" key="profil">Profil</h6>
            </div>
          </li>
          <li class="dropdown"><a class="nav-link menu-title link-nav"  href="<%= status != 'Se connecter' ? '/profile': '/login' %>"><i data-feather="user"></i><span><%=status%></span></a></li>

          <%if(status !== "Se connecter") {%>
            <li class="dropdown"><a class="nav-link menu-title link-nav" href="/logout" target="_blank"><i data-feather="log-out"></i><span class="lang" key="logout">Se déconnecter</span></a></li>
          <%}%>

          <li class="sidebar-main-title">
            <div>
              <h6 class="lang" key="params">Paramètres</h6>
            </div>
          </li>

          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/serveurs/<%= guild.id %>/#"><i data-feather="sliders"></i><span class="lang" key="config">Configuration</span></a></li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/serveurs/<%= guild.id %>/tools/welcome"><i data-feather="layers"></i><span class="lang" key="bvn">Bienvenue</span></a></li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/serveurs/<%= guild.id %>/tools/goodbye"><i data-feather="book-open"></i><span class="lang" key="goodbye">Départ</span></a></li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/serveurs/<%= guild.id %>/tools/autorole"><i data-feather="cloud-drizzle"></i><span class="lang" key="autorole">Autorole</span></a></li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/serveurs/<%= guild.id %>/tools/auto-mod"><i data-feather="shield"></i><span class="lang" key="auto_mod">Auto-modération</span></a></li>
          
          <li class="sidebar-main-title">
            <div>
              <h6 class="lang" key="extensions">Extensions</h6>
            </div>
          </li>

          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/extensions/<%= guild.id %>/ticket"><i data-feather="box"></i><span class="lang" key="ticket">Ticket</span></a></li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="/extensions/<%= guild.id %>/reactionroles"><i data-feather="award"></i><span class="lang" key="reactionroles">Reaction Roles</span></a></li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
  </div>
</div>